# exclude node.js files
node_modules
*.njsproj
*.sln
logs
package-lock.json

# exclude Intellij project files
.idea
*.iml

# exclude Visual Code project files
.vs
.project
.vscode
*.code-workspace
bin
obj

# exclude Eclipse project files
.settings
